<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <style>
      p a:hover, ul a:hover, li a:hover {
        font-weight:normal;
        text-shadow:0px 0px 1px #675C5C;
      }
     </style>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 style="margin-bottom:5px;">Daniel Mork</h1>
        <p style="font-size:small;">Ph.D. Candidate<br />
          Department of Statistics<br />
          Colorado State University</p>
        <p><img src="self.JPG" width="260" /></p>
        <p class="view" style="font-size:12px"><a href="https://orcid.org/0000-0002-7924-0706"><img src="img/orcid.ico" width="14px" /> 0000-0002-7924-0706</a><br />
        <a href="https://scholar.google.com/citations?user=J3U9AD4AAAAJ&hl=en&oi=sra"><img src="img/google.ico" width="14px" /> Google Scholar</a><br />
        <a href="{{ site.github.owner_url }}"><img src="img/github.ico" width="14px" /> danielmork</a></p>

      </header>
      <section style="width=525px;">

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
